.flex-container{
    display: flex;
    flex-direction: row;
    height: min-content;
    /* padding: 5px; */
    background-color: rgba(0, 0, 0, 0);
    align-items: center;
}

#odinbook-img{
    width: 125px;
}
<<<<<<< HEAD
#user-img{
    border-radius: 50%;
    width: 35px;
    background-color: white;
}
#username{
    margin-left: 4px;
    text-align: center ;
}
#buttons{
    padding-right: 7%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    width: fit-content;
}

@media screen and (max-width:375px){
=======

@media screen and (max-width:350px){
>>>>>>> 736f2676be405dbc992e4e79ca6b19dfeb2e342d
    #odinbook-img{
        width:100px;
    }
    #user-img{
        width: 25px;
    }
<<<<<<< HEAD
    #username{
        font-size: 0.8rem;
        margin-left: 0px;
        min-width: 60px;
    }
    #buttons{
        padding-right:5px;
    }
=======
>>>>>>> 736f2676be405dbc992e4e79ca6b19dfeb2e342d
}